# Chapter3 データ分析開始

## 20. データ分析ルーチンの開発

In [171]:
import pandas as pd
import numpy as np

In [172]:
# データ読み取り
college = pd.read_csv('data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [173]:
# DataFrameの次元を得る
college.shape

(7535, 27)

In [174]:
# .info()でデータ型、非欠損値の個数、メモリ使用量を表示
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
INSTNM                7535 non-null object
CITY                  7535 non-null object
STABBR                7535 non-null object
HBCU                  7164 non-null float64
MENONLY               7164 non-null float64
WOMENONLY             7164 non-null float64
RELAFFIL              7535 non-null int64
SATVRMID              1185 non-null float64
SATMTMID              1196 non-null float64
DISTANCEONLY          7164 non-null float64
UGDS                  6874 non-null float64
UGDS_WHITE            6874 non-null float64
UGDS_BLACK            6874 non-null float64
UGDS_HISP             6874 non-null float64
UGDS_ASIAN            6874 non-null float64
UGDS_AIAN             6874 non-null float64
UGDS_NHPI             6874 non-null float64
UGDS_2MOR             6874 non-null float64
UGDS_NRA              6874 non-null float64
UGDS_UNKN             6874 non-null float64
PPTUG_EF              6853 non-null float64
CURROPER              7535 non-null int64
PCTPELL               6849 non-null float64
PCTFLOAN              6849 non-null float64
UG25ABV               6718 non-null float64
MD_EARN_WNE_P10       6413 non-null object
GRAD_DEBT_MDN_SUPP    7503 non-null object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

- [DataFrame.describe(self: ~FrameOrSeries, percentiles=None, include=None, exclude=None)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html?highlight=describe#pandas.DataFrame.describe)
    
    include :
    
    A white list of data types to include in the result. Ignored for Series.
    
    numpy.number / numpy.object / all / None(default) / 'number'

In [175]:
# 要約統計量を転置して見やすく
college.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [176]:
college.describe(include=[np.object, pd.Categorical]).T

                   count unique                top  freq
INSTNM              7535   7535   Marietta College     1
CITY                7535   2514           New York    87
STABBR              7535     59                 CA   773
MD_EARN_WNE_P10     6413    598  PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038  PrivacySuppressed  1510

In [177]:
college.describe(include=[np.number], percentiles=[.01, .05, .10, .25, .5, .75, .9, .95, .99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,1.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,1.00000,1.000000,1.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,390.000000,430.000000,447.40000,475.000000,510.00000,555.000000,605.00000,665.000000,730.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,395.000000,430.000000,453.00000,482.000000,520.00000,565.000000,630.00000,685.000000,745.250000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,14.000000,31.650000,49.00000,117.000000,412.50000,1929.500000,6512.30000,11858.050000,26015.290000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.000000,0.013265,0.06879,0.267500,0.55570,0.747875,0.86297,0.927315,1.000000,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.000000,0.000000,0.00753,0.036125,0.10005,0.257700,0.51571,0.726715,0.961467,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.000000,0.000000,0.00573,0.027600,0.07140,0.198875,0.44314,0.666700,1.000000,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.000000,0.000000,0.00000,0.002500,0.01290,0.032700,0.07840,0.131775,0.346429,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.000000,0.00000,0.000000,0.00260,0.007300,0.01837,0.036410,0.209326,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.002500,0.00800,0.015200,0.050508,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.000000,0.00000,0.000000,0.01750,0.033900,0.05651,0.076900,0.133154,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.000000,0.00000,0.000000,0.00000,0.011700,0.04250,0.078135,0.236989,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.000000,0.00000,0.000000,0.01430,0.045400,0.10801,0.200575,0.496581,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.000000,0.00000,0.000000,0.15040,0.376900,0.60410,0.710620,0.946724,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,0.000000,0.000000,1.00000,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.054976,0.170000,0.23656,0.357800,0.52150,0.712900,0.83330,0.896360,0.993908,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.000000,0.000000,0.00000,0.332900,0.58330,0.745000,0.84752,0.897920,0.986368,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.002500,0.037400,0.08990,0.241500,0.40075,0.572275,0.72666,0.800000,0.917383,1.0000

In [178]:
# データ辞書の確認（重要！）
pd.read_csv('data/college_data_dictionary.csv')

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers

## 21. データ型を変更してメモリ削減

In [179]:
# データの読み込み
college = pd.read_csv('data/college.csv')

In [180]:
# カラムの選択
different_cols = ['RELAFFIL', 'SATMTMID', 'CURROPER', 'INSTNM', 'STABBR']
col2 = college.loc[:, different_cols]
col2.head()

   RELAFFIL  SATMTMID  CURROPER                               INSTNM STABBR
0         0     420.0         1             Alabama A & M University     AL
1         0     565.0         1  University of Alabama at Birmingham     AL
2         1       NaN         1                   Amridge University     AL
3         0     590.0         1  University of Alabama in Huntsville     AL
4         0     430.0         1             Alabama State University     AL

In [181]:
# 各カラムのデータ型を示す
col2.dtypes

RELAFFIL      int64
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

- [DataFrame.memory_usage(self, index=True, deep=False)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.memory_usage.html?highlight=memory_usage#pandas-dataframe-memory-usage)

In [182]:
# memory_usageで各カラムのメモリ使用量を示す
original_mem = col2.memory_usage(deep=True)
original_mem

Index          128
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [183]:
# RELAFFILカラムは0/1なので、8ビット（1バイト）整数に変換
# astypeでデータ型の変換
col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)

In [184]:
# 各カラムのデータ型を示す
col2.dtypes

RELAFFIL       int8
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [185]:
# memory_usageで各カラムのメモリ使用量を再度確認
college[different_cols].memory_usage(deep=True)

Index          128
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [186]:
# objectデータ型でデータの濃度（異なる値の個数）が低いものを探す
col2.select_dtypes(include=['object']).nunique()

INSTNM    7535
STABBR      59
dtype: int64

- [note.nkmk.me / pandasでユニークな要素の個数、頻度（出現回数）をカウント](https://note.nkmk.me/python-pandas-value-counts/)

In [187]:
# データの濃度が低いカラムをカテゴリ型に変換する
col2['STABBR'] = col2['STABBR'].astype('category')
col2.dtypes

RELAFFIL        int8
SATMTMID     float64
CURROPER       int64
INSTNM        object
STABBR      category
dtype: object

In [188]:
new_mem = col2.memory_usage(deep=True)
new_mem

Index          128
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR       13576
dtype: int64

In [189]:
new_mem / original_mem

Index       1.000000
RELAFFIL    0.125000
SATMTMID    1.000000
CURROPER    1.000000
INSTNM      1.000695
STABBR      0.030538
dtype: float64

#### object型とint型,float型の違いについて

In [190]:
college[['CURROPER', 'INSTNM']].dtypes

CURROPER     int64
INSTNM      object
dtype: object

In [191]:
college[['CURROPER', 'INSTNM']].memory_usage(deep=True)

Index          128
CURROPER     60280
INSTNM      660699
dtype: int64

In [192]:
# object型は1文字増やすだけでメモリ使用量が大幅に増える
college.loc[0, 'CURRPER'] = 10000000
college.loc[0, 'INSTNM'] = college.loc[0, 'INSTNM'] + 'a'
college[['CURROPER', 'INSTNM']].memory_usage(deep=True)

Index          128
CURROPER     60280
INSTNM      660804
dtype: int64

#### 欠損値がある => float型になる

In [193]:
college['MENONLY'].isnull().sum()

371

In [194]:
college['MENONLY'].dtype

dtype('float64')

#### 文字列を使ってデータ型を表す

In [195]:
college.describe(include=['int64', 'float64']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,1.423786e-02,0.118478,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
MENONLY,7164.0,9.212730e-03,0.095546,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
WOMENONLY,7164.0,5.304299e-03,0.072642,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
RELAFFIL,7535.0,1.909754e-01,0.393096,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
SATVRMID,1185.0,5.228194e+02,68.578862,290.0,4.750000e+02,5.100000e+02,5.550000e+02,7.650000e+02
SATMTMID,1196.0,5.307651e+02,73.469767,310.0,4.820000e+02,5.200000e+02,5.650000e+02,7.850000e+02
DISTANCEONLY,7164.0,5.583473e-03,0.074519,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
UGDS,6874.0,2.356838e+03,5474.275871,0.0,1.170000e+02,4.125000e+02,1.929500e+03,1.515580e+05
UGDS_WHITE,6874.0,5.102072e-01,0.286958,0.0,2.675000e-01,5.557000e-01,7.478750e-01,1.000000e+00
UGDS_BLACK,6874.0,1.899966e-01,0.224587,0.0,3.612500e-02,1.000500e-01,2.577000e-01,1.000000e+00
UGDS_HISP,6874.0,1.616349e-01,0.221854,0.0,2.760000e-02,7.140000e-02,1.988750e-01,1.000000e+00
UGDS_ASIAN,6874.0,3.354424e-02,0.073777,0.0,2.500000e-03,1.290000e-02,3.270000e-02,9.727000e-01
UGDS_AIAN,6874.0,1.381257e-02,0.070196,0.0,0.000000e+00,2.600000e-03,7.300000e-03,1.000000e+00
UGDS_NHPI,6874.0,4.568897e-03,0.033125,0.0,0.000000e+00,0.000000e+00,2.500000e-03,9.983000e-01
UGDS_2MOR,6874.0,2.395031e-02,0.031288,0.0,0.000000e+00,1.750000e-02,3.390000e-02,5.333000e-01
UGDS_NRA,6874.0,1.608582e-02,0.050172,0.0,0.000000e+00,0.000000e+00,1.170000e-02,9.286000e-01
UGDS_UNKN,6874.0,4.518144e-02,0.093440,0.0,0.000000e+00,1.430000e-02,4.540000e-02,9.027000e-01
PPTUG_EF,6853.0,2.266390e-01,0.246470,0.0,0.000000e+00,1.504000e-01,3.769000e-01,1.000000e+00
CURROPER,7535.0,9.232913e-01,0.266146,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
PCTPELL,6849.0,5.306431e-01,0.225544,0.0,3.578000e-01,5.215000e-01,7.129000e-01,1.000000e+00
PCTFLOAN,6849.0,5.222109e-01,0.283616,0.0,3.329000e-01,5.833000e-01,7.450000e-01,1.000000e+00
UG25ABV,6718.0,4.100212e-01,0.228939,0.0,2.415000e-01,4.007500e-01,5.722750e-01,1.000000e+00
CURRPER,1.0,1.000000e+07,NaN,10000000.0,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07

In [196]:
college.describe(include=[np.int64, np.float64]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,1.423786e-02,0.118478,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
MENONLY,7164.0,9.212730e-03,0.095546,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
WOMENONLY,7164.0,5.304299e-03,0.072642,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
RELAFFIL,7535.0,1.909754e-01,0.393096,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
SATVRMID,1185.0,5.228194e+02,68.578862,290.0,4.750000e+02,5.100000e+02,5.550000e+02,7.650000e+02
SATMTMID,1196.0,5.307651e+02,73.469767,310.0,4.820000e+02,5.200000e+02,5.650000e+02,7.850000e+02
DISTANCEONLY,7164.0,5.583473e-03,0.074519,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
UGDS,6874.0,2.356838e+03,5474.275871,0.0,1.170000e+02,4.125000e+02,1.929500e+03,1.515580e+05
UGDS_WHITE,6874.0,5.102072e-01,0.286958,0.0,2.675000e-01,5.557000e-01,7.478750e-01,1.000000e+00
UGDS_BLACK,6874.0,1.899966e-01,0.224587,0.0,3.612500e-02,1.000500e-01,2.577000e-01,1.000000e+00
UGDS_HISP,6874.0,1.616349e-01,0.221854,0.0,2.760000e-02,7.140000e-02,1.988750e-01,1.000000e+00
UGDS_ASIAN,6874.0,3.354424e-02,0.073777,0.0,2.500000e-03,1.290000e-02,3.270000e-02,9.727000e-01
UGDS_AIAN,6874.0,1.381257e-02,0.070196,0.0,0.000000e+00,2.600000e-03,7.300000e-03,1.000000e+00
UGDS_NHPI,6874.0,4.568897e-03,0.033125,0.0,0.000000e+00,0.000000e+00,2.500000e-03,9.983000e-01
UGDS_2MOR,6874.0,2.395031e-02,0.031288,0.0,0.000000e+00,1.750000e-02,3.390000e-02,5.333000e-01
UGDS_NRA,6874.0,1.608582e-02,0.050172,0.0,0.000000e+00,0.000000e+00,1.170000e-02,9.286000e-01
UGDS_UNKN,6874.0,4.518144e-02,0.093440,0.0,0.000000e+00,1.430000e-02,4.540000e-02,9.027000e-01
PPTUG_EF,6853.0,2.266390e-01,0.246470,0.0,0.000000e+00,1.504000e-01,3.769000e-01,1.000000e+00
CURROPER,7535.0,9.232913e-01,0.266146,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
PCTPELL,6849.0,5.306431e-01,0.225544,0.0,3.578000e-01,5.215000e-01,7.129000e-01,1.000000e+00
PCTFLOAN,6849.0,5.222109e-01,0.283616,0.0,3.329000e-01,5.833000e-01,7.450000e-01,1.000000e+00
UG25ABV,6718.0,4.100212e-01,0.228939,0.0,2.415000e-01,4.007500e-01,5.722750e-01,1.000000e+00
CURRPER,1.0,1.000000e+07,NaN,10000000.0,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07

In [197]:
college.describe(include=['int', 'float']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,1.423786e-02,0.118478,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
MENONLY,7164.0,9.212730e-03,0.095546,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
WOMENONLY,7164.0,5.304299e-03,0.072642,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
RELAFFIL,7535.0,1.909754e-01,0.393096,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
SATVRMID,1185.0,5.228194e+02,68.578862,290.0,4.750000e+02,5.100000e+02,5.550000e+02,7.650000e+02
SATMTMID,1196.0,5.307651e+02,73.469767,310.0,4.820000e+02,5.200000e+02,5.650000e+02,7.850000e+02
DISTANCEONLY,7164.0,5.583473e-03,0.074519,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
UGDS,6874.0,2.356838e+03,5474.275871,0.0,1.170000e+02,4.125000e+02,1.929500e+03,1.515580e+05
UGDS_WHITE,6874.0,5.102072e-01,0.286958,0.0,2.675000e-01,5.557000e-01,7.478750e-01,1.000000e+00
UGDS_BLACK,6874.0,1.899966e-01,0.224587,0.0,3.612500e-02,1.000500e-01,2.577000e-01,1.000000e+00
UGDS_HISP,6874.0,1.616349e-01,0.221854,0.0,2.760000e-02,7.140000e-02,1.988750e-01,1.000000e+00
UGDS_ASIAN,6874.0,3.354424e-02,0.073777,0.0,2.500000e-03,1.290000e-02,3.270000e-02,9.727000e-01
UGDS_AIAN,6874.0,1.381257e-02,0.070196,0.0,0.000000e+00,2.600000e-03,7.300000e-03,1.000000e+00
UGDS_NHPI,6874.0,4.568897e-03,0.033125,0.0,0.000000e+00,0.000000e+00,2.500000e-03,9.983000e-01
UGDS_2MOR,6874.0,2.395031e-02,0.031288,0.0,0.000000e+00,1.750000e-02,3.390000e-02,5.333000e-01
UGDS_NRA,6874.0,1.608582e-02,0.050172,0.0,0.000000e+00,0.000000e+00,1.170000e-02,9.286000e-01
UGDS_UNKN,6874.0,4.518144e-02,0.093440,0.0,0.000000e+00,1.430000e-02,4.540000e-02,9.027000e-01
PPTUG_EF,6853.0,2.266390e-01,0.246470,0.0,0.000000e+00,1.504000e-01,3.769000e-01,1.000000e+00
CURROPER,7535.0,9.232913e-01,0.266146,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
PCTPELL,6849.0,5.306431e-01,0.225544,0.0,3.578000e-01,5.215000e-01,7.129000e-01,1.000000e+00
PCTFLOAN,6849.0,5.222109e-01,0.283616,0.0,3.329000e-01,5.833000e-01,7.450000e-01,1.000000e+00
UG25ABV,6718.0,4.100212e-01,0.228939,0.0,2.415000e-01,4.007500e-01,5.722750e-01,1.000000e+00
CURRPER,1.0,1.000000e+07,NaN,10000000.0,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07

In [198]:
college.describe(include=['number']).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,1.423786e-02,0.118478,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
MENONLY,7164.0,9.212730e-03,0.095546,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
WOMENONLY,7164.0,5.304299e-03,0.072642,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
RELAFFIL,7535.0,1.909754e-01,0.393096,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
SATVRMID,1185.0,5.228194e+02,68.578862,290.0,4.750000e+02,5.100000e+02,5.550000e+02,7.650000e+02
SATMTMID,1196.0,5.307651e+02,73.469767,310.0,4.820000e+02,5.200000e+02,5.650000e+02,7.850000e+02
DISTANCEONLY,7164.0,5.583473e-03,0.074519,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
UGDS,6874.0,2.356838e+03,5474.275871,0.0,1.170000e+02,4.125000e+02,1.929500e+03,1.515580e+05
UGDS_WHITE,6874.0,5.102072e-01,0.286958,0.0,2.675000e-01,5.557000e-01,7.478750e-01,1.000000e+00
UGDS_BLACK,6874.0,1.899966e-01,0.224587,0.0,3.612500e-02,1.000500e-01,2.577000e-01,1.000000e+00
UGDS_HISP,6874.0,1.616349e-01,0.221854,0.0,2.760000e-02,7.140000e-02,1.988750e-01,1.000000e+00
UGDS_ASIAN,6874.0,3.354424e-02,0.073777,0.0,2.500000e-03,1.290000e-02,3.270000e-02,9.727000e-01
UGDS_AIAN,6874.0,1.381257e-02,0.070196,0.0,0.000000e+00,2.600000e-03,7.300000e-03,1.000000e+00
UGDS_NHPI,6874.0,4.568897e-03,0.033125,0.0,0.000000e+00,0.000000e+00,2.500000e-03,9.983000e-01
UGDS_2MOR,6874.0,2.395031e-02,0.031288,0.0,0.000000e+00,1.750000e-02,3.390000e-02,5.333000e-01
UGDS_NRA,6874.0,1.608582e-02,0.050172,0.0,0.000000e+00,0.000000e+00,1.170000e-02,9.286000e-01
UGDS_UNKN,6874.0,4.518144e-02,0.093440,0.0,0.000000e+00,1.430000e-02,4.540000e-02,9.027000e-01
PPTUG_EF,6853.0,2.266390e-01,0.246470,0.0,0.000000e+00,1.504000e-01,3.769000e-01,1.000000e+00
CURROPER,7535.0,9.232913e-01,0.266146,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
PCTPELL,6849.0,5.306431e-01,0.225544,0.0,3.578000e-01,5.215000e-01,7.129000e-01,1.000000e+00
PCTFLOAN,6849.0,5.222109e-01,0.283616,0.0,3.329000e-01,5.833000e-01,7.450000e-01,1.000000e+00
UG25ABV,6718.0,4.100212e-01,0.228939,0.0,2.415000e-01,4.007500e-01,5.722750e-01,1.000000e+00
CURRPER,1.0,1.000000e+07,NaN,10000000.0,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07

In [199]:
college['MENONLY'] = college['MENONLY'].astype('float16')
college['MENONLY'].dtype

dtype('float16')

In [200]:
college['RELAFFIL'] = college['RELAFFIL'].astype('int8')
college['RELAFFIL'].dtype

dtype('int8')

In [201]:
college.index = pd.Int64Index(college.index)
college.index.memory_usage()

60280

## 22. 最大の中の最小を選択

In [202]:
# データの読み込み、columnを選んで新しいDataFrameを作る
movie = pd.read_csv('data/movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]
movie2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1          NaN

- [DataFrame.nlargest(self, n, columns, keep='first') ](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nlargest.html)  
    Return the first n rows ordered by columns in descending order.

In [203]:
# nlargestメソッドを使い、imdb_scoreカラム上位100本の映画を見せる
movie2.nlargest(100, 'imdb_score').head()

                   movie_title  imdb_score      budget
2725          Towering Inferno         9.5         NaN
1920  The Shawshank Redemption         9.3  25000000.0
3402             The Godfather         9.2   6000000.0
2779                   Dekalog         9.1         NaN
4312      Kickboxer: Vengeance         9.1  17000000.0

- [DataFrame.nsmallest(self, n, columns, keep='first')](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nsmallest.html#pandas.DataFrame.nsmallest)  
    Return the first n rows ordered by columns in ascending order.

In [204]:
# nsmallestメソッドをチェイニングして、上位100本の映画の中から最安値の5本の映画を返す
movie2.nlargest(100, 'imdb_score').nsmallest(5, 'budget')

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

## 23. ソートして各グループでの最大を選択

In [205]:
# データ読み込み
movie = pd.read_csv('data/movie.csv')
movie2 = movie[['movie_title', 'title_year', 'imdb_score']]

In [206]:
# sort_valuesメソッドを使ってtitle_yearでソート
movie2.sort_values('title_year', ascending=False).head()

                       movie_title  title_year  imdb_score
3884                      The Veil      2016.0         4.7
2375    My Big Fat Greek Wedding 2      2016.0         6.1
2794          Miracles from Heaven      2016.0         6.8
92    Independence Day: Resurgence      2016.0         5.5
153                Kung Fu Panda 3      2016.0         7.2

#### 複数カラムのソート

In [207]:
movie3 = movie2.sort_values(['title_year', 'imdb_score'], ascending=False)
movie3.head()

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2

- [DataFrame.drop_duplicates\(self, subset: Union\[Hashable, Sequence\[Hashable\], NoneType\] = None, keep: Union\[str, bool\] = 'first', inplace: bool = False, ignore_index: bool = False\)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html?highlight=drop_duplicates#pandas.DataFrame.drop_duplicates)  
    Return DataFrame with duplicate rows removed.


- [pandas.DataFrame, Seriesの重複した行を抽出・削除](https://note.nkmk.me/python-pandas-duplicated-drop-duplicates/)

In [208]:
# movie3(title_year,imdb_scoreが高い順にソート)からtitle_yearが重複している列を削除
# 各年の最高評価の映画が求まる
movie_top_year = movie3.drop_duplicates(subset='title_year')

In [209]:
movie_top_year

                                           movie_title  title_year  imdb_score
4312                              Kickboxer: Vengeance      2016.0         9.1
3745                                   Running Forever      2015.0         8.6
4369                            Queen of the Mountains      2014.0         8.7
3935           Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                                The Dark Knight Rises      2012.0         8.5
...                                                ...         ...         ...
2694                                        Metropolis      1927.0         8.3
4767                                    The Big Parade      1925.0         8.3
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
2725                                  Towering Inferno         NaN         9.5

[92 rows x 3 columns]

#### 降順と昇順を組み合わせてソート

In [210]:
movie4 = movie[['movie_title', 'title_year', 'content_rating', 'budget']]

In [211]:
# 各カラムごとに降順、昇順を決定
movie4_sorted = movie4.sort_values(['title_year', 'content_rating', 'budget'], ascending=[False,False,True])
movie4_sorted

                       movie_title  title_year content_rating     budget
4026                     Compadres      2016.0              R  3000000.0
3884                      The Veil      2016.0              R  4000000.0
3682         Fifty Shades of Black      2016.0              R  5000000.0
3685             The Perfect Match      2016.0              R  5000000.0
3396                The Neon Demon      2016.0              R  7000000.0
...                            ...         ...            ...        ...
4196                      Get Real         NaN            NaN        NaN
4234                         Wings         NaN            NaN        NaN
4362  The Streets of San Francisco         NaN            NaN        NaN
4416                    Wolf Creek         NaN            NaN        NaN
4526                         Jesse         NaN            NaN        NaN

[4916 rows x 4 columns]

In [212]:
# title_yearとcontent_ratingの組み合わせがユニークな中で制作費が最小
movie4_sorted_duplicated = movie4_sorted.drop_duplicates(subset=['title_year', 'content_rating'])
movie4_sorted_duplicated.head(n=10)

,movie_title,title_year,content_rating,budget
4026,Compadres,2016.0,R,3000000.0
4658,Fight to the Finish,2016.0,PG-13,150000.0
4661,Rodeo Girl,2016.0,PG,500000.0
3252,The Wailing,2016.0,Not Rated,NaN
4659,Alleluia! The Devil's Carnival,2016.0,NaN,500000.0
4731,Bizarre,2015.0,Unrated,500000.0
812,The Ridiculous 6,2015.0,TV-14,NaN
4831,The Gallows,2015.0,R,100000.0
4825,Romantic Schemer,2015.0,PG-13,125000.0
3796,R.L. Stine's Monsterville: The Cabinet of Souls,2015.0,PG,4400000.0

## 24. sort_valuesでnlargestの代用

In [213]:
movie = pd.read_csv('data/movie.csv')

In [214]:
movie2 = movie[['movie_title', 'imdb_score', 'budget']]

In [215]:
# 最大の中の最小を選択（ n_laegest / n_smallest を使用 ）
movie_smallest_largest = movie2.nlargest(100, 'imdb_score').nsmallest(5, 'budget')
movie_smallest_largest

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [216]:
# 最大の中の最小を選択（ sort_valuesを使用 + headメソッドをチェイニング ）
# imdb_scoreが良い順にsort => 上位100作品について予算が低い順にsort 
movie2.sort_values('imdb_score', ascending=False).head(100).sort_values('budget')

                    movie_title  imdb_score    budget
4815  A Charlie Brown Christmas         8.4  150000.0
4801         Children of Heaven         8.5  180000.0
4804             Butterfly Girl         8.7  180000.0
4706               12 Angry Men         8.9  350000.0
4636       The Other Dream Team         8.4  500000.0
...                         ...         ...       ...
2646                      U2 3D         8.4       NaN
3616            Rang De Basanti         8.4       NaN
3736                      Psych         8.4       NaN
3902                    M*A*S*H         8.4       NaN
3799       Anne of Green Gables         8.4       NaN

[100 rows x 3 columns]

In [217]:
# imdb_score上位100作品を抽出　=> そのうち下位5作品を抽出
movie2.nlargest(100, 'imdb_score').tail()

                movie_title  imdb_score     budget
4023                 Oldboy         8.4  3000000.0
4163  To Kill a Mockingbird         8.4  2000000.0
4395         Reservoir Dogs         8.4  1200000.0
4550           A Separation         8.4   500000.0
4636   The Other Dream Team         8.4   500000.0

In [218]:
# 最大の中の最小を選択（ sort_valuesを使用 + headメソッドで上位100作を選択 + 100作のうち下位5作品をtailで選択 ）
movie2.sort_values('imdb_score', ascending=False).head(100).tail()

                                  movie_title  imdb_score      budget
3799                     Anne of Green Gables         8.4         NaN
3777                      Requiem for a Dream         8.4   4500000.0
3935  Batman: The Dark Knight Returns, Part 2         8.4   3500000.0
4636                     The Other Dream Team         8.4    500000.0
2455                                   Aliens         8.4  18500000.0

## 25. トレール注文の価格計算

- [pandas-datareaderで株価や人口のデータを取得](https://note.nkmk.me/python-pandas-datareader-stock-population/)

In [219]:
import pandas_datareader as pdr

In [220]:
# startがうまく動かない？
tsla = pdr.DataReader('tsla',data_source='stooq',start='2020-3-1')

In [221]:
tsla.index

DatetimeIndex(['2020-04-09', '2020-04-08', '2020-04-07', '2020-04-06',
               '2020-04-03', '2020-04-02', '2020-04-01', '2020-03-31',
               '2020-03-30', '2020-03-27',
               ...
               '2015-04-27', '2015-04-24', '2015-04-23', '2015-04-22',
               '2015-04-21', '2015-04-20', '2015-04-17', '2015-04-16',
               '2015-04-15', '2015-04-14'],
              dtype='datetime64[ns]', name='Date', length=1258, freq=None)

In [222]:
tsla = tsla.sort_index()

In [223]:
tsla.head(8)

              Open    High     Low   Close   Volume
Date
2015-04-14  208.57  209.49  205.50  207.46  3025900
2015-04-15  207.46  209.59  206.60  207.83  1946934
2015-04-16  207.70  209.17  206.29  206.70  1659059
2015-04-17  204.99  206.88  203.50  206.79  2469900
2015-04-20  206.78  207.85  203.85  205.27  2559226
2015-04-21  205.80  210.75  204.31  209.41  3430504
2015-04-22  212.50  221.88  211.69  219.44  7861380
2015-04-23  218.27  221.48  217.15  218.60  4411100

In [224]:
# 取引日の終値を使う
tsla_close = tsla['Close']
tsla_close

Date
2015-04-14    207.46
2015-04-15    207.83
2015-04-16    206.70
2015-04-17    206.79
2015-04-20    205.27
               ...
2020-04-03    480.01
2020-04-06    516.24
2020-04-07    545.45
2020-04-08    548.84
2020-04-09    573.00
Name: Close, Length: 1258, dtype: float64

- [Series.cummax(self, axis=None, skipna=True, *args, **kwargs)](https://pandas.pydata.org/docs/reference/api/pandas.Series.cummax.html)  
    Return cumulative maximum over a DataFrame or Series axis.
    

- [DataFrame.cummax(self, axis=None, skipna=True, *args, **kwargs)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.cummax.html)

In [225]:
# 過去からの最高値をトラック
tsla_cummax = tsla_close.cummax()
tsla_cummax.head(8)

Date
2015-04-14    207.46
2015-04-15    207.83
2015-04-16    207.83
2015-04-17    207.83
2015-04-20    207.83
2015-04-21    209.41
2015-04-22    219.44
2015-04-23    219.44
Name: Close, dtype: float64

In [226]:
# トレール注文の価格（過去の最高値×0.9）
tsla_trailing_stop = tsla_cummax * .9
tsla_trailing_stop.head(8)

Date
2015-04-14    186.714
2015-04-15    187.047
2015-04-16    187.047
2015-04-17    187.047
2015-04-20    187.047
2015-04-21    188.469
2015-04-22    197.496
2015-04-23    197.496
Name: Close, dtype: float64

In [227]:
# トレール注文の価格を返す関数
def set_trailing_loss(symbol, purchase_date, perc):
    close = pdr.DataReader(symbol, data_source='stooq', start=purchase_date)['Close']
    return close.cummax() * perc

In [228]:
msft_trailing_stop = set_trailing_loss('msft', '2017-06-01', .85)
msft_trailing_stop.head()

Date
2020-04-09    140.3690
2020-04-08    140.3690
2020-04-07    140.3690
2020-04-06    140.4795
2020-04-03    140.4795
Name: Close, dtype: float64

In [229]:
# 最小値をトラックするcomminメソッド
weight = pd.Series(data=[100,90,80,80,80,70,60,60,50])
pd.Series.cummin(weight) * 1.05

0    105.0
1     94.5
2     84.0
3     84.0
4     84.0
5     73.5
6     63.0
7     63.0
8     52.5
dtype: float64